@model SV18T1021130.Web.Models.PaginationSearchInput
@{
    ViewBag.Title = "Người giao hàng";
}

<div class="box box-primary">
    <div class="box-header with-border">
    </div>
    <div class="box-body">
        <form action="~/shipper/search" id="searchInput">
            @Html.HiddenFor(m => m.PageSize)
            <div class="input-group">
                <input type="text" name="searchValue" class="form-control" placeholder="Nhập tên người giao hàng cần tìm" autofocus value="@Model.SearchValue">
                <span class="input-group-btn">
                    <button type="submit" id="search-btn" class="btn btn-flat btn-info">
                        <i class="fa fa-search"></i>
                    </button>
                    <a href="~/shipper/create" class="btn btn-flat btn-primary" style="margin-left: 5px">
                        <i class="fa fa-plus"></i> Bổ sung
                    </a>
                </span>
            </div>
        </form>
        <div id="searchResult"></div>
    </div>
</div>

@section scripts {
    <script>
        $(document).ready(function () {
            doSearch(@Model.Page);
            $("#searchInput").submit(function (e) {
                e.preventDefault();
                doSearch(1);
                return false;
            })
        });

    </script>
}